.toast {
    position: absolute;
    top: 20px;
    right: 20px;

    &-wrapper {
        padding: 1rem 3rem;
        margin-bottom: 20px;
        animation-name: appear;
        animation-duration: .5s;

        &.success {
            background-color: $color-green;
        }
    
        &.error {
            background-color: $color-red;
        }

        p {
            color: white;
            font-family: $font;
            font-size: .9rem;
        }
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}