.todoDetail {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__name {
        font-size: 1rem;
        margin-right: 20px;
    }

    &__input {
        font-size: 1rem;
        width: 160px;
        font-family: $font;
    }

    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    &__button {
        padding: .4rem .7rem;
        color: white;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        opacity: 1;
        transition: opacity .3s;

        &.edit {
            padding: .4rem .6rem;
            background-color: $color-grey;
        }

        &.delete {
            background-color: $color-red;
        }

        &.save {
            background-color: $color-green;
        }

        &.cancel {
            padding: .4rem .78rem;
            background-color: $color-grey;
        }

        &:hover {
            opacity: .8;
        }

        i {
            font-size: .8rem;
        }
    }
}