.todoManager__form {
    display: flex;
    align-items: flex-end;
    gap: 15px;
    
    div {
        label {
            display: block;
            margin-bottom: .5rem;
            color: $color-black;
            font-size: 1.2rem;
        }

        input {
            padding: .2rem .2rem;
            font-size: 1rem;
            color: $color-black;
            font-family: $font;
        }
    }

    button {
        background-color: $color-blue-100;
        border: none;
        padding: .4rem .8rem;
        color: white;
        font-family: $font;
        letter-spacing: .4px;
        cursor: pointer;
        border-radius: 3px;
        font-weight: 500;
        opacity: 1;
        transition: opacity .3s;

        &:hover {
            opacity: .9;
        }
    }
}

.todoList {
    &__message {
        margin-top: 20px;
        font-size: 1rem;
    }
    
    &__container {
        margin-top: 20px;
    }

    &__container > * + * {
        margin-top: 10px;
    }
}