@import './utils/_variables.scss';
@import './utils/_reset.scss';

@import './components/_toast.scss';

@import './todos/_todoManager.scss';
@import './todos/_todoDetail.scss';

body {
    background-color: $background;
}

.container {
    width: max-content;
    max-width: 400px;
    padding: 2rem;
    border-radius: 10px;
    margin: 0 auto;
    background-color: white;    
    margin-top: 100px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}