@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

$color-blue-100: #4b6584;
$color-blue-200: #3867d6;
$color-red: rgb(209, 65, 65);
$color-green: #39b671;
$color-grey: #9c9c9c;
$color-black: rgb(24, 24, 26);
$background: #d1d8e0;

$font: "Roboto", sans-serif;